app-schedules-footer {
    position: fixed; /* Fix the footer at the bottom */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Ensure it stays above other elements */
  }

app-header {
    position: sticky; /* Keep the header fixed at the top */
    top: 0;
    z-index: 1; /* Ensure it stays above other elements */
}


.mat-card{
  display: flex;
  flex: 1;
  height: 60%;
  align-items: center;
  justify-content: center;
  background-color: #dfe4f5;
  margin-right: 10%;
  margin-left: 10%;
  border: transparent;
  overflow: hidden;

}

.mat-card-content{
  cursor:pointer; 
  display: flex;
  align-items: baseline;
  min-height: fit-content;
  white-space: nowrap;
  
}

#name{
  font-size: 1.5rem;
}

#on-request{
  font-size: 1rem;
  margin-left: 4%;
}

.scrolling-text {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start from the right side */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side */
  }
}