<div id="content" #ele>
    <app-header ></app-header>
    <mat-grid-list  cols={{columns}}  rowHeight= "5:1" id="table" >
            <mat-grid-tile  [rowspan]=1 *ngFor="let busStop of busStops; let i = index; trackBy: trackBusStopId">
                <mat-card appearance="outlined" class="mat-card" >
                    <div #contentElement (click)="goToBusStop(busStop.id)" class="mat-card-content"> 
                        <div id="name">
                            {{busStop.name}} 
                        </div>
                        <div id="on-request">
                            {{busStop.onRequest ? "on request" : ""}}
                        </div>
                    </div>

                </mat-card>
               
            </mat-grid-tile>
    </mat-grid-list>
    <app-schedules-footer ></app-schedules-footer>
</div>
  
