
#table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#right-column{
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 80%;
}
#left-column{
    width: 45%; 
    min-width: fit-content;
}

#mat-card{
    height: 100%;
    min-width: fit-content;
}

#name{
    flex-grow: 1;
}
#surname{
    flex-grow: 1;
}
#discounts{
    flex-grow: 3;
}
#favourites{
    flex-grow: 3;
}

#content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: fit-content;
}

.route-details-button{
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#history{
    display: flex;
    flex-direction: column;
}
