@model PublicTransportNavigator.Models.BusSeat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BusSeat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BusId" class="control-label"></label>
                <select asp-for="BusId" class="form-control" asp-items="ViewBag.BusId"></select>
                <span asp-validation-for="BusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatTypeId" class="control-label"></label>
                <select asp-for="SeatTypeId" class="form-control" asp-items="ViewBag.SeatTypeId"></select>
                <span asp-validation-for="SeatTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordX" class="control-label"></label>
                <input asp-for="CoordX" class="form-control" />
                <span asp-validation-for="CoordX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordY" class="control-label"></label>
                <input asp-for="CoordY" class="form-control" />
                <span asp-validation-for="CoordY" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LastModified" class="control-label"></label>
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
